h1 {
  color: orange;
  text-align: left;
}
button {
  color: blue;
  background-color: green;
}
body {
  background-color: rgb(121, 155, 223);
}
#heading {
  background-image: url(image/bca.png);
  background-size: cover;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  margin-left: 30%;
  position: fixed;
  top: 0;
  right: 10px;
  padding: 50px;
  text-align: center;
  box-shadow: rgba(50, 19, 19, 0.421) 0px 0px 6px;
}
#heading marquee {
  padding-bottom: 40px;
}
